<app-header titulo="card"></app-header>


<ion-content mode="ios">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, beatae necessitatibus, excepturi obcaecati vero vel libero tenetur dolor quisquam hic animi illum exercitationem, culpa doloremque asperiores perferendis deleniti eveniet voluptate!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://images.mediotiempo.com/rI0bbGILGn3pT4rUS3ZpYT7buKw=/958x596/uploads/media/2019/08/09/las-revelaciones-de-esta-ultima.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nihil, quos earum, tempora explicabo nesciunt iure et neque voluptatem amet eligendi. Dolorem pariatur saepe ut nihil odit sequi distinctio. Ipsa.
    </ion-card-content>
  </ion-card>
</ion-content>
