<app-header [titulo]="nombre || 'Input Forms'"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Input normal</ion-label>

    </ion-list-header>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input
        type="text"
        placeholder="Awesome Input"
        [(ngModel)]="nombre"
      ></ion-input>
    </ion-item>
  </ion-list>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list>
      <ion-list-header>
        <ion-label>Formulario valido: {{ formulario.valid }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Email <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input required placeholder="Email" name="email" type="text" [(ngModel)]="usuario.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input required placeholder="Contraseña" name="password" type="password" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        color="primary"
        type="submit"
        [disabled]="formulario.invalid"
      >
        Login
      </ion-button>
    </ion-list>
  </form>
</ion-content>
